<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>twilioSMS</title>
  </head>
  <body>
    <h1>twilioSMS</h1>
  <form class="" action="/" method="post">
      number: <br>
      <input type="text" name="number" value=""><br>
      message: <br>
      <input type="test" name="message" value=""><br><br>
      <button type="submit" name="button">SEND</button>
    </form>

  </body>
</html>
